body {
    background-color: grey;
}
fieldset > legend {
    font-weight: bold;
    padding: 2px 5px;
}

li {
    color: whitesmoke;
}

li:hover {
    background: black;
}

button {
    border: 2px solid orangered;
    background: transparent;
    color: orangered;
}


button:hover {
    border: 2px solid grey;
    background: orangered;
    color: grey;
}

.bkg-red-t:hover {
    background: #ff00003f;
}

.bkg-blue-t:hover {
    background: #0000ff3f;
}

.bkg-yellow-t:hover {
    background: #ffff003f;
}

.f-black {
    color: black;
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.842);
}

.modal-content {
    top: 250px;
    background: white;
    width: 90%;
    margin: auto;
}